<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Service Intro Page">
    <meta name="author" content="Yun-Tieh Chen">
    <title>Let's travel in the middle-Service Page</title>
    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/service-page.css" rel="stylesheet">

</head>
<body>
     <!-- Navigation -->
     <!-- Insert navbar ejs -->
    <%- include ./navbar.ejs %>
    
     <!-- Header -->
    <header class="service-header">
     <!-- The input form -->
      <form action="/trip" method="post" onsubmit="return validateForm()">
      <div class="container" id="service-container1">
        <div class="container">
          <div class="row">
            <div class="col">
                <h3>You</h3>
            </div>
            <div class="col">
                <h3>Depart Date</h3>
            </div>
            <div class="col">
              <h3>Your partner</h3>
            </div>
          </div>
          <div class="row">
             <div class="col">
                <div class="ui-widget">
<!--                  <label for="tags">From: </label>-->
                  <input type="text" name="depart1" class="airportSelect form-control" id="depart1" placeholder="Departure Airport">
                </div>
             </div>
             <div class="col">
                <input type="date" name="dDate" class="form-control"  value="" id="departDate">
             </div>
             <div class="col">
                <div class="ui-widget">
<!--                  <label for="tags">From: </label>-->
                  <input type="text" name="depart2" class="airportSelect form-control" id="depart2" placeholder="Departure Airport">
                </div>
             </div>
          </div>
          <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
          </div>
          <div class="row" id="alertRow">
            <div class="alert alert-danger" id="alertMessage" hidden="">
            At least one of the departure location is missing.
            </div>
          </div>
          </div>
        </div>
        <br>
        <input class="btn btn-dark btn-lg js-scroll-trigger" id="searchButton" type="submit" value="Get Destinations">
        </form>
      </header>
    
    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
            <div class="response-area"></div>
        </div>
        <br>
        <div class="row">
            <div class="response-area2"></div>
        </div>
        <br>
        <div class="row">
            <div class="response-area2"></div>
        </div>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw" id = "loadingIcon"></i>
      </div>
    </section>

    <!-- Map -->
    <!--Google  API key : AIzaSyD3eFiCwJPtgcaTbOE2Y4PWkL2FQqzWnQg-->
    <section>
        <div class="google-map">
        <iframe id="googleMapFrame" width="100%" height="450" frameborder="0" scrolling="no"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyD3eFiCwJPtgcaTbOE2Y4PWkL2FQqzWnQg&origin=pit airport&destination=den airport&mode=flying" allowfullscreen></iframe>
        </div>
    </section>

    <!-- Footer -->
    <!-- Insert footer ejs -->
    <%- include ./footer.ejs %>
    <!-- Custome JavaScript -->
    <script src="js/service.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
</html>